body {
    margin: 0;
}
h2 {
    margin: 0 0 19px 0;
}
nav {
    padding: 33px 50px;
}
.header {
margin-bottom: 62px;
}

.header__list {
    list-style-type: none;
    padding: 0;
    margin:0;
    border-bottom: 1px solid #F0F0F0;
}
.header__link {
    color: #050038;
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
}
.section__title {
    font-size: 48px;
    font-weight: 400;
    line-height: 56px;
    margin: 0 0 17px 0;


}
.hero__text {
    font-size: 18px;
    line-height: 24px;
    color: #050038;
    margin:0 0 55px 0;
}

.paragraph__text {
    font-size: 14px;
    line-height: 20px;
    margin: 8px 0 52px 0;
    
}
.text__transparent {
    color: #05003899;
    margin: 0 0 39px 0;
}
.link {
font-size: 18px;
line-height: 24px;
}
.button {
    color: #FFFF;
    background-color: #4262FF;
    border:1px solid #4262FF;
    border-radius: 32px;
    padding: 10px 20px;
}
.section__input {
    height: 38px;
    border-radius: 32px;
    border: 1px solid #9B99AF;
    padding: 5px 10px;

}
.footer {
    background-color: #050038;
    color: #F0F0F0;
    padding: 47px 40px;
}
.footer a {
    color: #FFFF;
    text-decoration: none;
}