.section__lite {
    background: var(--color-bg-lite);
}
.h2__section {
    font-size: 36px;
    font-weight: 400;
    line-height: 43.2px;
    color: var(--color-text);

}
.section__wrapper {
    max-width: var(--layout-width);
    margin: 0 auto;
    padding: 100px   24px;
}
.h1_gradient {
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text ;
    -webkit-text-fill-color: transparent;
}
.headling__top {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: var(--color-primary-lite);
    margin: 0 0 8px 0;
    
}
.paragrah {
font-size: 18px;
font-weight: 400;
line-height: 27px;
color: var(--color-text);
margin-bottom: 48px;

}
.button {
    padding: 16px 32px;
    max-height: 54px;
    border-radius: var(--border-10);
    background: none;
    color: var(--color-text);
    border: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    cursor: pointer;

}
.button_primary {
    background-color: var(--color-primary);

}
.button_primary:hover {
    background-color: var(--color-primary-hover );
}
.button__ghost {
    border: 1px solid var(--color-strok);
}
.button__ghost:hover {
background-color: var(--color-bg-medium);
}
@media (max-width:640px) {
    .button {
        padding: 12px 24px ;
    }
    }

.headling__botton {
    color:var(--color-text);
    font-size: 46px;
    font-weight: 400;
    line-height: 55.2px;
    margin: 0 0 48px 0;
    padding: 0;
}
.headling__botton_32 {
    margin: 0 0 32px 0;
}

.chip {
font-size: 18px;
font-weight: 400;
line-height: 21.6px;
border-radius: 8px;
padding: 8px 16px;
color:var(--color-text);
white-space: nowrap;
background:none ;


}
.chip:hover {
background-color: var(--color-bg-medium);
}
.chip__active {
  background-color: var(--color-primary);

}
.chip__active:hover {
    background-color: var(--color-primary-hover )
}
.title__h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 28.8px;
    margin: 0;
    padding: 0;
    color: var(--color-text);
    }
.title__p {
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    margin: 0;
    padding: 0;
    color: var(--color-link-hover);
    }

.tag {
font-size: 16px;
font-weight: 400;
line-height: 19.2px;
color: var(--color-text);
border: 1px solid var(--color-strok);
padding: 6px 12px;
border-radius: var(--border-17);
}
.curs-rating {
font-size: 54px;
font-weight: 400;
line-height: 64.8px;
color: var(--color-text);

}