main {
    background-color: #1e1f29;
}
div {
    background-color: #2e2d3d;
}
select, input, textarea{
    background-color: #2e2d3d;
    color:#FAFAFA;
}
button {
    background-color:#6C38CC;
     color: #FAFAFA;
    
}
label {
    color:#AFB2BF;
    ;
}
h1 {
    color:#FAFAFA;
}
