body {
    background: linear-gradient(180deg, #374151 0%, #111827 100%);
    font-family: 'Roboto', sans-serif;
    color: white;
    margin: 0;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a span {
    background-color: #4B5563;
    padding: 6px 12px;
    border-radius: 3px;
    box-shadow: 0px 15px 30px 0px #00000026;

}

nav {
    display: flex;
    justify-content: space-between;
}

section {
    align-items: center;
    display: flex;
    flex-direction: column;
}


.header__allocation {
    display: flex;
    align-items: center;
}

.header {
    margin: 71px 180px 69px 180px;

}


.header__list {
    font-size: 16px;
    line-height: 18.75px;
    font-weight: 400;
    margin: 0 0 0 77px;
    padding: 0;
    display: flex;
    gap: 52px;
}

.header__search {
    font-size: 16px;
    line-height: 18.75px;
    background-color: rgba(31, 41, 55, 0.6);
    height: 40px;
    border-radius: 100px;
    padding: 0 0 0 49px;
}

.header__link {
    font-size: 18px;
    line-height: 21.09px;
    font-weight: 400;
}

.header__allocation {
    font-size: 18px;
    line-height: 22.63px;
    font-weight: 600;
}


.header__list_item {
    list-style-type: none;
}

.header__form {
    position: relative;
}

.header__form img {
    position: absolute;
    padding: 14px 0 14px 18px;
}

.text__title {
    font-size: 24px;
    font-weight: 400;
    line-height: 38px;
    margin: 0 0 30px 0;

}

.transparent {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 16.41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    margin: 0 0 14px 0;

}

.transparent_title {
    text-transform: uppercase;
    margin: 0;
}

.develop {
    line-height: 28px;
    display: flex;
    justify-content: center;
    max-width: 214px;
    gap: 16px;
    margin: 0 0 28px 0;
}

.develop__text {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.title__develop {
    font-size: 16px;
    margin: 0;
}

.job__title {
    margin: 0;
}

.image__main {
    display: flex;
    justify-content: center;
    margin-bottom: 69px;
}

.section_text {
    max-width: 708px;
    margin: 0 auto;
}

.large__section {
    font-size: 20px;
    line-height: 32px;
    margin: 0 0 28px 0;
}

.short__section {
    font-size: 16px;
    line-height: 30px;
    margin: 0 0 50px 0;

}

.color__marketing {
    margin: 0 0 87px 0;
}

.color__marketing a {
    text-decoration: underline;
}

.footer__title {
    font-size: 16px;
    line-height: 28px;
    margin: 0 0 77px 0;
    gap: 4px;
}